.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: consolas;
}
.container {
    position: relative;
    width: 550px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        pointer-events: none;
    }
    &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        // background: linear-gradient(45deg, red, rgb(27, 199, 27));
        background: linear-gradient(45deg, rgb(127, 255, 0), rgb(0, 255, 255));
        pointer-events: none;
        animation: animate 15s linear infinite;
    }
}
@keyframes animate {
    0% {
        filter: blur(60px) hue-rotate(0deg);
    }
    100% {
        filter: blur(60px) hue-rotate(360deg);
    }
}
.form {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
    h2 {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 24px;
    }
    .inputBox {
        width: 100%;
        margin-top: 20px;
        input {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 2px solid white;
            outline: none;
            font-size: 18px;
            color: white;
            padding: 5px 0;
            font-family: consolas;
        }
        button {
            background: white;
            color: black;
            border: none;
            font-weight: 900;
            height: 2.5rem;
            width: 100%;
            cursor: pointer;
        }
    }
    p {
        color: white;
        a {
            color: white;
        }
    }
}
::placeholder {
    color: white;
}
