body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    rgb(3, 0, 33),
    rgb(4, 0, 35) 2%,
    rgb(11, 5, 57) 24%,
    rgb(14, 7, 65) 38%,
    rgb(44, 21, 117) 71%,
    rgb(45, 48, 143)
  );
  height: 100vh;
}
